@page "/b/new"

<EditForm Model="@postDialogueDto" OnValidSubmit="Submit" class="">
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">Name</label>
        <div class="col-sm-4">
            <InputText @bind-Value="postDialogueDto.name" id="name" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-1 col-form-label">Title</label>
        <div class="col-sm-4">
            <InputText @bind-Value="postDialogueDto.title" id="title" class="form-control " placeholder="Post title. Required" />
        </div>
    </div>
    <div class="form-group row">
        <label for="tags" class="col-sm-1 col-form-label">Flags</label>
        <div class="col-sm-4">
            <InputText @bind-Value="postDialogueDto.tags" id="tags" class="form-control" placeholder="Separated by commas (tag1, tag2,...)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="comment" class="col-sm-1 col-form-label">Comment</label>
        <div class="col-sm-4">
            <InputTextArea @bind-Value="postDialogueDto.comment" id="comment" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="form-group row" style="">
        <InputFile OnChange="OnInputFileChange" id="file" class="form-control-file col-sm-4" 
            AllowedExtensions=".jpg;.jpeg;.webp;.png;.heif;.avif;.gif;.apng;.webm;.mkv;.mp4;" 
            CustomExtensionMessage="Allowed file types: jpg, png, webp, heic, avif, webm, gif, apng"
            MaxFileSize=25
            FilterByExtension="true"
            @bind-Value="postDialogueDto.file"/>

        <p>@status</p>
    </div>
    <div class="form-group row col-sm">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    // A dialogue for Submitting a new post
     

}
