<form [formGroup]="form">
    <div class="d-flex flex-column">
        <div class="form-control-block">
            <label class="mr-auto justify-content-end" for="username">User Name</label>
            <div>
                <input id="username" type="text" formControlName="userName" />
                <ng-container
                    *ngTemplateOutlet="
                        errorTemplate;
                        context: { $implicit: 'userName' }
                    "
                ></ng-container>
            </div>
        </div>

        <div class="form-control-block">
            <label class="mr-auto justify-content-end" for="mail">e-mail</label>
            <div>
                <input id="mail" type="text" formControlName="userMail" />
                <ng-container
                    *ngTemplateOutlet="
                        errorTemplate;
                        context: { $implicit: 'userMail' }
                    "
                ></ng-container>
            </div>
        </div>

        <div class="form-control-block">
            <label class="mr-auto justify-content-end" for="password">Password</label>
            <div>
                <p-password formControlName="key"></p-password>
                <ng-container
                    *ngTemplateOutlet="
                        errorTemplate;
                        context: { $implicit: 'key' }
                    "
                ></ng-container>
            </div>
        </div>
    </div>
</form>

<ng-template #errorTemplate let-name>
    <ng-container *ngFor="let err of form.get(name)?.errors | keyvalue">
        <span class="error-state">
            {{ err.key }}
        </span>
    </ng-container>
</ng-template>
