<form [formGroup]="form">
  <div class="d-flex flex-column">
    <div class="form-control-block">
      <label class="mr-auto" for="username">User Name: </label>
      <input id="username" type="text" formControlName="userName" />
    </div>

		<div class="form-control-block">
      <label class="mr-auto" for="mail">e-mail: </label>
      <input id="mail" type="text" formControlName="emailAddress" />
    </div>

    <div class="form-control-block">
      <label class="mr-auto" for="password">Password: </label>
      <p-password formControlName="key"></p-password>
    </div>
  </div>
</form>
