:host ::ng-deep {
    .p-card {
        transition: box-shadow 0.3s;
        border-radius: 10px;
        //border: 1px solid #ccc;
        border: 10px outset rgb(51, 51, 51);

        // &:hover,
        // &:focus {
        //     box-shadow: 0 0 11px rgba(255, 255, 255);
        // }

        &-body {
            padding: 10px;
        }

        &-title {
            font-weight: bold;
        }

        &-content {
            margin-top: 15px;
        }
    }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 90vw !important;
}

.scroll {
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    -moz-animation: my-animation 12s linear infinite running;
    -webkit-animation: my-animation 12s linear infinite running;
    animation: my-animation 12s linear infinite running;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateY(-80%);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateY(-80%);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
