<div class="post-view-body d-flex flex-column align-items-end h-75">
	<div class="post-container" *ngIf="!loading">
		<div class="post-view">
			<ng-container *ngIf="!!post.mediaUrl">
				<img [ngSrc]="post.mediaUrl" alt="smol floppa" [alt]="post.postTitle">
			</ng-container>
			<h5 class="title">{{post.postTitle}}</h5>
			<div class="time">on {{post.createdOn | date:'EE, MMM d, y h:mm a'}}</div>

			<div class="btn-group">
				<p-button *ngIf="post.mediaUrl" icon="pi-download" (click)="download()"></p-button>
			</div>
			
			<div class="desccription">
				<div class="description" [innerHTML]="post.description"></div>
			</div>
		</div>
	</div>
	
	<hr class="my-3"/>

	<div class="comments mt-auto">
		<app-submit-comment></app-submit-comment>
	</div>
</div>
