footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    color: white;
}

:host ::ng-deep {
    button {
        background: transparent;
        color: white;
        border: 0;
    }

    button.separated{
        border-left: 1px solid white;
    }
}