.image-frame {
	width: 100%;
	height: 40rem;
	display: flex;
	justify-content: center;
}

img {
	object-fit: cover;
    width: auto;
    height: 100%;
}

.comments {
	width: 80rem;
}

.post-meta {

	padding-bottom: 0.5rem;

}