@page "/post/26"

@using HotChanShared.Models
@using Google.Protobuf.WellKnownTypes
@inject GrpcChannel Channel

<div class="container">
	<div class="row">
		<div class="image-frame">
			<img  src="@_reply.MediaUrl"/>
		</div>
	</div>


	<div class="row">
		<div class="post-meta">
			<h3>@_reply.PostTitle</h3>
			<h6>@_reply.PostDescription</h6>

		</div>

	</div>

	<div class="row">
		<div class="comments">
			<div class="card text-white bg-dark">
				<div class="card-body">
					<h5 class="card-title">comment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>

			<div class="input-group mb-3 ">
			<input type="text" class="form-control" placeholder="Drop a Comment" aria-label="comment" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
		</div>
		</div>
	</div>

	

</div>

@code {
	//[Parameter]
	//public ulong _postid { get; set; }
	PostReply _reply = new PostReply();
	// gRPC Client Postview Request =>
	protected override async Task OnInitializedAsync()
	{
		var client = new ChanPostView.ChanPostViewClient(Channel);
		_reply = await client.PostQueryAsync(new PostIdRequest { PostId = 26} );

	}
}